@using Microsoft.AspNetCore.Identity;
@model Corpassb.Areas.Admin.ViewModels.ChangeRoleViewModel;

@{
    ViewBag.Title = $"Изменение должности пользователя {@Model.Email}";
}

<form class="centered" asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.Id" />
    <div>
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
            @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />

            @role.Name <br />
        }
    </div>
    <button type="submit" >Сохранить</button>
</form>