@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "Должности";
}
<table class="centered">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<br />
<br />
<a asp-action="Create" class="centered">Создать должность</a>
<a asp-action="UserList" class="centered">Список пользователей</a>